.news-section {
  padding: 20px;
  background-color: #f9f9f96b;
  border-radius: 8px;
}

.news-article {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.news-article h3 {
  margin: 0;
  font-size: 1.2em;
}

.news-article img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.news-article p {
  margin: 10px 0;
}

.news-article a {
  color: #007BFF;
  text-decoration: none;
}

.news-article a:hover {
  text-decoration: underline;
}
